<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<form action="." method='post'> {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Login"/>
</form>

</body>
</html>